/* 캘린더 전체 */
.react-calendar {
  @apply border-none;
}

/* 캘린더 타이틀 */
.calendar__navigation__label__labelText {
  @apply text-md-medium text-text-primary;
}

/* 캘린더 오른쪽 화살표 */
.react-calendar__navigation__next-button {
  @apply flex justify-end items-center;
}

/* 캘린더 요일 */
.react-calendar__month-view__weekdays__weekday {
  @apply text-md-medium text-text-disabled;
}

/* 캘린더 타일 */
.react-calendar__tile {
  @apply px-[10px] rounded-[8px] text-md-regular text-nowrap;
}

/* 캘린더 선택된 타일 */
.react-calendar__tile--active {
  @apply bg-brand-primary;
}
