@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* 스크롤바 숨기기 */
  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
